<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deploy{% block title %}{% endblock %}</title>
  </head>
   
  <body>
    {% block content %}{% endblock %}
  </body>
  
  <script>
    console.log('Doing creepy tracking stuff here.');

    const { pathname } = window.location;
    const { language, platform, userAgent } = window.navigator;
    const data = { pathname, language, platform, userAgent };

    window.navigator.geolocation.getCurrentPosition(location => {
      // If we were able to successfully get location data
      data.location = {
        latitude: location.coords.latitude,
        longitude: location.coords.longitude,
      };
      sendToAPI();
    }, () => {
      // If there was an error (likely location access denied)
      sendToAPI();
    });

    const sendToAPI = () => {
      console.log(data);

      fetch('/recordUser', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(res => res.text())
        .then(console.log);
    };
    
  </script>
</html>
