<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deploy{% block title %}{% endblock %}</title>
  </head>
   
  <body>
    {% block content %}{% endblock %}
  </body>
  
  <script>
    console.log('Doing creepy tracking stuff here.');

    const { pathname } = window.location;
    const { language, platform, userAgent } = window.navigator;
    const data = { pathname, language, platform, userAgent, location };

    window.navigator.geolocation.getCurrentPosition(location => {
      data.location = {
        latitude: location.coords.latitude,
        longitude: location.coords.longitude,
      };
    });
    
    console.log(data);

    // You can use a fetch function like this as a starting point
    // though we encourage you to look at fetch documentation!
    // https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
    fetch('/recordUser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
  </script>
</html>
